.wrapper {
  background: #f5f5f5;
  padding: 20px;

  margin-top: 20px;
  border-radius: 12px;
}

.block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;

  margin-top: 20px;
}